<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.yarohovichalex.marshruber.android.driver">

    <application
        android:name="com.github.yarohovichalex.marshruber.android.driver.DriverAppApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_android"
        android:label="@string/app_name_driver"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.github.yarohovichalex.marshruber.android.driver.DriverAppActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>